.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 50px;
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom: 15px;
        border: none;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 300;
        color: #4b4b4b;
        &::-webkit-inner-spin-button {
            appearance: none;
        }
        &[type='number'] {
            -moz-appearance: textfield;
        }
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
    &_mt25 {
        margin-top: 25px;
    }
}

@media (max-width: 991px) {
    .feed-form{
        input {
            height: 30px;
        }
        &_mt25 {
            margin-top: 25px;
            width: 100%;
        }
    }
}
@media (max-width: 575px) {
    .feed-form{
        width: 290px;
        input {
            height: 30px;
        }
        &_mt25 {
            margin-top: 25px;
            width: 100%;
        }
    }
}