* {
    font-family: 'Museo', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .container {
        max-width: 679px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 505px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 290px;
    }
}


@import 'base/mixin';
@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/title';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';